<app-encabezado></app-encabezado>
<div class="row">
  <div class="col col-12">
    <div class="card" style="width: 100%;">
      <div class="card-header">
        Tareas <button type="button" class="btn btn-warning" (click)="crearTarea()"><i class="bi bi-plus-circle"></i></button>
      </div>
      <table class="table" border="1">
        <thead>
          <th>Texto</th>
          <th>Fecha Inicial</th>
          <th>Fecha Final</th>
          <th>Estado</th>
          <th>Acción</th>
        </thead>
        <tbody>
          <tr *ngFor="let tarea of tareas">
            <td>{{tarea.texto}}</td>
            <td>{{tarea.fechaInicial}}</td>
            <td>{{tarea.fechaFinal}}</td>
            <td>{{tarea.estado}}</td>
            <td>
              <button [disabled]="false" type="button" class="btn btn-primary" (click)="editarTarea(tarea.id)"><i class="bi bi-pencil"></i></button>&nbsp;
              <button [disabled]="false" type="button" class="btn btn-danger" (click)="borrarTarea(tarea.id)"><i class="bi bi-trash"></i></button>&nbsp;
            </td>
          </tr>
        </tbody>
      </table>
    </div>
      </div>
  <!--div class="col col-8">
    <div *ngIf="elegida">
      <div class="card" style="width: 100%;">
        <div class="card-body">
          <h5 class="card-title">{{personaElegida.nombre}} {{personaElegida.apellido}}</h5>
          <p class="card-text" *ngIf="personaElegida">
            <app-persona-detalle [personaDetalle]="personaElegida"></app-persona-detalle>
            <app-entrenamiento-persona-lista [entrenamientos]="entrenamientos" [personaDetalle]="personaElegida"></app-entrenamiento-persona-lista>          </p>
        </div>
      </div>
    </div>
  </div-->
</div>
