<app-encabezado></app-encabezado>
<h3>
  Editando tarea: {{tareaForm.get('texto').value}}
</h3>

<form
 [formGroup]="tareaForm"
 (ngSubmit)="!tareaForm.invalid && editarTarea(tareaForm.value)"
>
  <div class="row">
    <div class="col col-6">
      <!--Texto-->
      <div class="form-group mx-sm-3 mb-2">
        <label for="texto">Texto</label>
        <input
          novalidate
          id="texto"
          class="form-control"
          formControlName="texto"
          placeholder="Texto"
        />
        <div
          class="alert alert-danger alert-dismissible fade show"
          *ngIf="
            tareaForm.get('texto')!.hasError('required') &&
            tareaForm.get('texto')!.touched
          "
        >
          Contenido requerido
        </div>
        <div
          class="alert alert-danger alert-dismissible fade show"
          *ngIf="tareaForm.get('texto')!.hasError('minlength')"
        >
          El contenido es muy corto, debe tener al menos dos caracteres.
        </div>
      </div>

      <!--Fecha Inicial-->
      <div class="form-group mx-sm-3 mb-2">
        <label for="fechaInicial">Fecha Inicial</label>
        <input
          novalidate
          id="fechaInicial"
          class="form-control"
          formControlName="fechaInicial"
          placeholder="Fecha Inicial"
        />
        <div
          class="alert alert-danger alert-dismissible fade show"
          *ngIf="
            tareaForm.get('fechaInicial')!.hasError('required') &&
            tareaForm.get('fechaInicial')!.touched
          "
        >
          Contenido requerido
        </div>
        <div
          class="alert alert-danger alert-dismissible fade show"
          *ngIf="tareaForm.get('fechaInicial')!.hasError('minlength')"
        >
          El contenido es muy corto, debe tener al menos dos caracteres.
        </div>
      </div>

      <!--Fecha Final-->
      <div class="form-group mx-sm-3 mb-2">
        <label for="fechaFinal">Fecha Final</label>
        <input
          novalidate
          id="fechaFinal"
          class="form-control"
          formControlName="fechaFinal"
          placeholder="Fecha Final"
        />
        <div
          class="alert alert-danger alert-dismissible fade show"
          *ngIf="
            tareaForm.get('fechaFinal')!.hasError('required') &&
            tareaForm.get('fechaFinal')!.touched
          "
        >
          Contenido requerido
        </div>
        <div
          class="alert alert-danger alert-dismissible fade show"
          *ngIf="tareaForm.get('fechaFinal')!.hasError('minlength')"
        >
          El contenido es muy corto, debe tener al menos dos caracteres.
        </div>
      </div>

      <!--Estado-->
      <div class="form-group mx-sm-3 mb-2">
        <label for="estado">Estado</label>
        <input
          novalidate
          id="estado"
          class="form-control"
          formControlName="estado"
          placeholder="Sin Empezar / Empezada / Finalizada"
        />
        <div
          class="alert alert-danger alert-dismissible fade show"
          *ngIf="
            tareaForm.get('estado')!.hasError('required') &&
            tareaForm.get('estado')!.touched
          "
        >
          Contenido requerido
        </div>
        <div
          class="alert alert-danger alert-dismissible fade show"
          *ngIf="tareaForm.get('estado')!.hasError('minlength')"
        >
          El contenido es muy corto, debe tener al menos dos caracteres.
        </div>
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="!tareaForm.valid">Editar</button>&nbsp;
  <button type="button" class="btn btn-danger ml-3" (click)="cancelarTarea()">Cancelar</button>
</form>
