.articulo-lista-container {
    margin: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .ver-detalle {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #007bff;
  }
  
  .ver-detalle:hover {
    text-decoration: underline;
  }
  